<div
  class="btn-group"
  (focusin)="focusSubject$.next(true)"
  (focusout)="onFocusOut($event)"
>
  <input
    type="text"
    class="form-control"
    id="inputTicker"
    autocapitalize="characters"
    style="text-transform: uppercase"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    placeholder="Ticker"
    aria-label="Ticker"
    [(ngModel)]="inputValue"
    (ngModelChange)="inputSubject$.next($event)">

  <div class="dropdown-menu" [hidden]="!(showAutocomplete$ | async)">
    <button
      class="dropdown-item" type="button"
      *ngFor="let symbol of symbols | filter : 'displaySymbol' : (input$ | async) | slice : 0 : 10"
      (click)="onSelectTicker(symbol)">
      {{symbol.displaySymbol}} | {{symbol.description}} | {{symbol.type}}
    </button>

    <p class="text-muted p-4" *ngIf="symbols.length === 0">
      No tickers found.
    </p>
  </div>
</div>
