<table class="table table-sm table-dark table-bordered table-hover">
  <thead>
  <tr>
    <th class="w-25">Symbol</th>
    <th class="w-25">Price</th>
    <th class="w-25">Change, %</th>
    <th class="w-25">Date</th>
    <th class="w-25">Volume</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let subscription of subscriptions$ | async; trackBy: trackFn"
      appContextMenuInitialize [menuTemplate]="subscriptionContextMenu" [context]="subscription.symbol">
    <td>{{subscription.symbol}}</td>
    <td>{{subscription.currentPrice}}</td>
    <td>{{(subscription.currentPrice - subscription.previousClosePrice) / subscription.previousClosePrice * 100 |
      number: '0.1-2'}}</td>
    <td>{{subscription.date | date: 'H:mm:ss'}}</td>
    <td>{{subscription.volume}}</td>
  </tr>
  </tbody>
</table>

<ng-template #subscriptionContextMenu>
  <button class="dropdown-item" (click)="unsubscribe()">Unsubscribe</button>
</ng-template>
